<p-blockUI [target]="pnl" [blocked]="blockedPanel">
    <i class="pi pi-spin pi-spinner" style="font-size: 10rem;color:azure"></i>
</p-blockUI>
<div #pnl class="grid mx-2">
    <div class="card">
        <div class="grid formgrid">
            <div class="col-12 md:col-4" *ngFor="let item of listHospitals;index as i">
                <div class="field-checkbox">
                    <p-checkbox 
                        name="group1"
                        [value]="item.hospital_id" 
                        [id]="item.hospital_id"
                        (onChange)="getHospital($event,item.hospital_id)">
                    </p-checkbox>
                    <label for="'checkbox_' + item.id">{{item.hospital_name}}</label>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button pButton type="button" label="เลือก" class="p-button-success" (click)="calendar()"></button>
        </div>
    </div>

</div>