<div class="grid">
    <div class="col-12 md:col-6">
        <div class="card">
            <div class="flex justify-content-between flex-wrap">
                <h5>ประวัติการจอง</h5>
                <p-button label="จองคิว" icon="pi pi-check" size="small" (click)="navigateToOtherPage()"></p-button>
            </div>
            <p-fieldset [toggleable]="true" [collapsed]="true" *ngFor="let event of events" [ngStyle]="{'margin': '10px'}">
                <ng-template pTemplate="header">
                    <div class="flex align-items-center gap-2 px-2">
                        <p-avatar image="{{event.icon}}" size="large" shape="circle"></p-avatar>
                        <p class="p-text-secondary">วันที่: {{thaiDateFormat(event.date)}}นัดคลินิก: {{event.service_name}} </p>
                    </div>
                </ng-template>                
                <div class="row" style="background-color: #f8f9fa; padding: 10px; border-radius: 5px;">
                        <div class="ml-0">                           
                            <span class="block" style="margin-bottom: 7px;"><i class="pi pi-building"></i> : {{event.hospital_name}}</span>
                            <span class="text-color-secondary block" style="margin-bottom: 7px;"><i class="pi pi-user"></i> : คุณ{{event.customer_name}}</span>
                            <span class="text-color-secondary block" style="margin-bottom: 7px;"><i class="pi pi-external-link"></i> : {{event.service_type_name}}</span>
                            <span class="text-color-secondary block" style="margin-bottom: 7px;"><i class="pi pi-check-square"></i> : {{event.is_confirm}}</span>                            
                        </div>
                    </div>               
            </p-fieldset>            
        </div>
    </div>
</div>
